@import "styles/style.scss";

.container {
    display: flex;

    :first-child {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 5rem;
        height: 5rem;
        border-radius: 100%;
    }

    img {
        animation: fade-in 0.4s;
    }
}
