@import "styles/style.scss";

.container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    color: $text-color--normal;
    font-family: $font-family--normal;
    font-size: $font-size--medium;

    .updatePasswordDataButton {
        margin-top: 3rem;
    }
}
