@import "styles/style.scss";

.container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 30rem;

    .form {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        min-width: 30rem;

        .signInButton {
            margin-top: 5vh;
        }
    }

    .otherOptions {
        margin-top: 5vh;

        .oauthProvidersContainer {
            margin-top: 5vh;

            .oauthProvidersList {
                box-sizing: border-box;
                padding: 0;
                margin: 0;
                margin-top: 5vh;
                list-style-type: none;
            }
        }
    }
}
