@import "styles/style.scss";

.container {
    display: flex;
    flex-direction: column;
    width: 30rem;

    .form {
        display: flex;
        flex-direction: column;
        min-width: 30rem;

        .signInButton {
            margin-top: 4rem;
        }
    }

    .otherOptions {
        margin-top: 4rem;

        .forgotPassword {

        }

        .signUpParagraph {

        }

        .oauthProvidersContainer {
            margin-top: 4rem;

            .oauthProvidersList {
                padding: 0;
                margin: 0;
                margin-top: 4rem;
                list-style-type: none;
            }
        }
    }
}
