@import "styles/style.scss";

.container {
    position: absolute;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    padding: 0.4rem 0.8rem;
    border: 1px solid $tooltip-border-color;
    background-color: $tooltip-bg-color;
    text-align: center;
    pointer-events: none;

    &.smallWidth {
        width: 6rem;
    }

    &.mediumWidth {
        width: 12rem;
    }

    &.largeWidth {
        width: 18rem;
    }

    .text {
        color: $tooltip-text-color;
        font-family: $font-family--normal;
        font-size: $font-size--smaller;
        cursor: default;
    }

    .pointer {
        position: absolute;
        top: -0.5rem;
        z-index: 11;
        width: 1rem;
        height: 1rem;
        border: 1px solid $tooltip-border-color;
        border-right: none;
        border-bottom: none;
        transform: rotate(45deg);
        background-color: $tooltip-bg-color;
    }
}

.fixed {
    position: fixed;
}
