@import "styles/style.scss";

.container {
    display: flex;

    .userProfile {
        display: grid;
        align-items: center;
        grid-template-areas:
            "picture username votes"
            "picture date .";
        grid-template-rows: auto auto;
        grid-template-columns: 5rem minmax(10rem, auto);
        column-gap: 1rem;
        font-family: $font-family--undertone;
        font-weight: 300;

        .picture {
            grid-area: picture;
            display: flex;

            :first-child {
                display: flex;
                align-items: center;
                width: 5rem;
                height: 5rem;
                border-radius: 100%;
            }
        }

        span {
            grid-area: username;
            display: flex;
            align-items: center;
            color: $text-color--normal;
            font-size: $font-size--small;
        }

        .date {
            grid-area: date;
            color: $text-color--undertone;
            font-size: $font-size--smaller;
        }
    }

    .stats {
        display: flex;

        .votes {

        }

        .viewCount {

        }
    }
}
