@import "styles/style.scss";

.container {
    width: 100%;

    .editorContainer {
        display: grid;
        height: 100%;

        .form {
            display: grid;
            row-gap: 2rem;
        }

        .title {
            width: 100%;
            height: 4.5rem;
        }

        .warning {
            color: $color-error;
            text-align: center;
        }

        .controls {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(2, min-content);
            column-gap: 1rem;
            justify-content: flex-end;
        }

        .metadata {
            display: flex;
            justify-content: space-between;
            font-family: $font-family--normal;
            font-size: $font-size--medium;
            color: $text-color--undertone;
        }

        .bodyError {
            height: auto;
            color: red;
            transition: color 100ms ease;

            &:after {
                position: absolute;
                content: "*";
            }
        }

        .inputContainer {
            margin-top: 0;

            .input {
                border-color: $gray;
                font-family: $font-family--editor;
                font-size: $font-size--small;
                color: $text-color--editor;
            }
        }

        .skipPremodCheckbox {
            margin-top: 0;
        }

        .spinner {
            position: absolute;
            right: 0;
            left: 0;
        }
    }

    .hidden {
        height: 0;
        visibility: hidden;
    }

    .fadedIn {
        animation: fade-in 0.1s;
    }

    @media screen and (max-width: 500px) {
        .editorContainer {
            .controls {
                justify-content: center;
            }

            .metadata {
                flex-direction: column;
            }
        }
    }

    @media screen and (min-width: 500px) {
        & {
            max-width: 80rem;
        }
    }
}
