@import "styles/style.scss";

@mixin shrinkLabel {
    top: -1.4rem;
    color: $input-label-color--shrink;
    font-size: $font-size--smaller;
}

.container {
    position: relative;
    margin-top: 4rem;

    .input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 1rem 1rem 1rem 0.5rem;
        border: none;
        border-bottom: 1px solid $input-border-color;
        outline: none;
        background-color: $input-bg-color;
        color: $input-text-color;
        font-family: $font-family--normal;
        font-size: $font-size--medium;
    
        &:focus ~ .label {
            @include shrinkLabel();
        }

        &.error {
            color: $input-text-color--error;
            border-color: $input-border-color--error;
        }
    }

    input[type="password"] {
        letter-spacing: 0.2em;
    }

    .label {
        position: absolute;
        top: 1rem;
        left: 0.5rem;
        pointer-events: none;
        color: $input-label-color;
        font-family: $font-family--normal;
        font-size: $font-size--small;
        transition: .2s ease all;
    
        &.shrink {
            @include shrinkLabel();
        }

        &.error {
            color: $input-label-color--error !important;
        }
    }

    .errorText {
        position: absolute;
        width: max-content;
        margin-top: 0.2rem;
        color: $input-text-color--error;
        font-size: $font-size--smaller;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        user-select: none;
    }
}
