@import "styles/style.scss";

.container {
    grid-area: footer;
    z-index: 1;
    display: grid;
    grid-template-areas: ". content .";
    grid-template-rows: auto;
    grid-template-columns: 20% 1fr 20%;
    background-color: $footer-content-bg-color;

    .content {
        grid-area: content;
        display: flex;
        align-items: center;
        padding: 2rem 3vw;
        color: set-text-color($footer-content-bg-color);
    }
}
