@import "styles/style.scss";

.container {
    grid-area: footer;
    z-index: 1;
    display: grid;
    grid-template-areas: ". content .";
    grid-template-rows: auto;
    grid-template-columns: 20% 1fr 20%;
    background-color: $footer-content-bg-color;

    .content {
        grid-area: content;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        max-width: 1024px;
        padding: 2rem 1rem;
        color: set-text-color($footer-content-bg-color);
    }

    @media screen and (max-width: 1024px) {
        & {
            grid-template-areas: "content";
            grid-template-columns: 1fr;

            .content {
                justify-content: center;
            }
        }
    }

    @media screen and (min-width: 1600px) {
        .content {
            justify-self: center;
            width: 1024px;
        }
    }
}
