@import "styles/style.scss";

.container {
    grid-area: nav;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 1024px) {
        & {
            justify-content: flex-start;
            background-color: $menu-item-bg-color;
        }
    }
}
