@import "styles/style.scss";

.container {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: minmax(30rem, 1fr);

    .title {
        font-family: $font-family--caption;
        font-size: $font-size--large;
        font-weight: 400;

        a {
            &:hover {
                opacity: 0.7;
            }
        }
    }

    .bodyContainer {
        position: relative;
        margin: 1rem 0;
    }

    .body {
        max-height: $font-size--medium * 40;
        overflow-y: hidden;
        font-family: $font-family--normal;
        font-size: $font-size--medium;
    }

    .openPost {
        position: absolute;
        right: 0;
        bottom: 0;
        padding-left: 2.5rem;
        background: linear-gradient(90deg, transparent, $body-bg-color 30%);

        a {
            padding: 0 1px;
            color: $custom-link-text-color;
            font-family: $font-family--caption;
            font-size: $font-size--small;
            font-weight: 400;

            &:hover {
                color: $custom-link-text-color--hover;
            }
        }
    }

    &.inactive {
        opacity: 0.4;
    }

    .rejected {
        margin-bottom: $font-size--large;
        background-color: $post-preview-rejected-bg-color;
        color: $post-preview-rejected-text-color;

        &:after {
            position: absolute;
            top: $font-size--large + 0.5rem;
            left: 0;
            content: "Статья отклонена, ожидает ваших правок";
            font-size: $font-size--smaller;
        }
    }

    a {
        color: inherit;
        text-decoration: none;
        transition: color 100ms ease;
    }
}
