@import "styles/style.scss";

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);

    .container {
        position: relative;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        padding: 10vh 0;
        background-color: $base-dialog-bg-color;

        &.autoWidth {
            width: auto;
        }

        &.fixedWidth {
            width: 40rem;
        }

        .closeIconButton {
            position: absolute;
            top: 2rem;
            right: 2rem;
        }

        .title {
            position: absolute;
            top: 1.5rem;
            left: 2rem;
            color: $base-dialog-title-text-color;
            font-size: $font-size--larger;
            user-select: none;
        }
    }

    @media screen and (max-width: 640px) {
        .container {
            &.fixedWidth {
                width: 100%;
                height: 100%;
            }
        }
    }
}
