@import "styles/style.scss";

.container {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: $base-dropdown-bg-color;
}

.transparent {
    opacity: 0;
}

.fixed {
    position: fixed;
}
