@import "styles/style.scss";

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .tabsList {
        display: flex;
        height: 3rem;
        padding: 0;
        border-bottom: 1px solid $profile-tab-border-color;
        list-style-type: none;

        .tab {
            position: relative;
            top: 1px;
            white-space: nowrap;
            cursor: pointer;

            &:not(:first-of-type) {
                margin-left: 2rem;
            }

            &.active {
                border-bottom: 1px solid $profile-tab-border-color--active;

                a {
                    color: $profile-tab-color--active;
                }
            }

            a {
                border: none;
                font-family: $font-family--normal;
                font-size: $font-size--medium;
                color: $profile-tab-color;
                text-decoration: none;
            }
        }
    }

    .tabContent {
        display: flex;
        height: 100%;
        padding-top: 3vh;
    }
}
