@import "styles/style.scss";

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    padding: 0 3.5rem 0 3.5rem;
    outline: none;
    user-select: none;
    font-family: $font-family--normal;
    font-size: $font-size--medium;
    transition: background-color 100ms ease;
    cursor: pointer;

    &.disabled {
        opacity: 0.5;
        cursor: default;
    }

    &.autoWidth {
        width: auto;
    }

    &.fullWidth {
        width: 100%;
    }

    &.lightTheme {
        border: 1px solid $base-button-border-color-light;
        background-color: $base-button-bg-color-light;
        color: $base-button-text-color-light;

         &:not(.disabled):hover {
            background-color: $base-button-bg-color-light--hover;
        }
    }

    &.darkTheme {
        border: 1px solid $base-button-border-color-dark;
        background-color: $base-button-bg-color-dark;
        color: $base-button-text-color-dark;

         &:not(.disabled):hover {
            background-color: $base-button-bg-color-dark--hover;
        }
    }

    &.neutralTheme {
        border: 1px solid $base-button-border-color-neutral;
        background-color: $base-button-bg-color-neutral;
        color: $base-button-text-color-neutral;

        &:not(.disabled):hover {
            background-color: $base-button-bg-color-neutral--hover;
        }
    }
}
