@import "styles/style.scss";

.container {
    display: flex;
    align-items: center;
    padding-right: 1rem;
    font-family: $font-family--undertone;
    font-weight: 300;

    .picture {
        display: flex;
    }

    .info {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        :first-child {
            margin-bottom: 0.2rem;
        }
    }

    span {
        display: flex;
        align-items: center;
        overflow-wrap: anywhere;
        color: $text-color--normal;
        font-size: $font-size--small;
    }

    .date {
        color: $text-color--undertone;
        font-size: $font-size--smaller;
    }
}
