@import "styles/style.scss";

.container {
    display: flex;
    flex-direction: column;
    width: 30rem;

    .signUpButton {
        margin-top: 5vh;
    }

    .skipConfirmEmail {
        width: fit-content;
    }

    .doneMessage {
        margin-top: 4rem;

        button {
            margin-top: 4rem;
        }
    }
}
