@import "styles/style.scss";

.list {
    box-sizing: border-box;
    padding: 0.6rem 1rem;
    margin: 0;
    list-style-type: none;
    font-family: $font-family--normal;
    font-size: $font-size--small;

    .item {
        line-height: 2.5rem;
    }
}
