@import "styles/style.scss";

.container {
    display: flex;
    box-sizing: border-box;
    padding: 0 3rem;

    .section {
        display: flex;
        flex-direction: column;
    }

    .formContainer {
        &:not(:first-of-type) {
            margin-top: 3rem;
        }
    }
}
