@import "styles/style.scss";

.container {
    grid-area: footer;
    display: flex;
    box-sizing: border-box;

    .aside {
        box-sizing: border-box;
        width: $banner-width;
        height: 100%;
        background-color: $footer-aside-bg-color;
    }

    .content {
        display: flex;
        flex: 1;
        box-sizing: border-box;
        height: 100%;
        padding-left: 50px;
        background-color: $footer-content-bg-color;
    }
}
