@import "styles/style.scss";

.container {
    position: fixed;
    top: 4.5rem;
    right: 0.5rem;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: $popup-width;
    min-height: $popup-height;
    max-height: 50vh;
    opacity: 0.97;
    text-align: center;
    user-select: none;
    animation: fade-in 0.15s;

    &.successTheme {
        background-color: $popup-bg-color--success;
        color: $popup-text-color--success;
    }

    &.errorTheme {
        background-color: $popup-bg-color--error;
        color: $popup-text-color--error;
    }

    &.warningTheme {
        background-color: $popup-bg-color--warning;
        color: $popup-text-color--warning;
    }

    .text {
        display: inline-block;
        width: 100%;
        padding: 1rem 3rem;
        overflow-wrap: anywhere;
        font-family: $font-family--normal;
        font-size: $font-size--medium;
        cursor: default;
    }

    .closeIconButton {
        position: absolute;
        right: 0;
        height: 100%;
        margin-right: 1.2rem;
    }

    @media screen and (max-width: 500px) {
        & {
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
        }
    }
}
