@import "styles/style.scss";

.container {
    display: grid;
    width: 100%;
    animation: fade-in 0.1s;

    .postList {
        display: grid;
        grid-template-columns: minmax(30rem, 1fr);
        row-gap: 4rem;
        padding: 0;
        margin: 0;

        .postItem {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
    }

    .pagingContainer {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
}
