@import "styles/style.scss";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .1s ease;
    cursor: pointer;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &.lightTheme {
        svg {
            fill: $icon-color-light;
        
            &:hover {
                fill: $icon-color-light--hover;
            }
        }
    }

    &.darkTheme {
        svg {
            fill: $icon-color-dark;
        
            &:hover {
                fill: $icon-color-dark--hover;
            }
        }
    }

    svg {
        transition: .1s ease;
    }
}
