@import "styles/style.scss";

.container {
    display: grid;
    margin-top: 3rem;
    animation: fade-in 0.1s;

    .userList {
        display: grid;
        grid-auto-rows: max-content;
        grid-template-columns: minmax(30rem, 1fr);
        row-gap: 4rem;
        padding: 0;
        margin: 0;

        .userItem {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
    }

    .pagingContainer {
        display: flex;
        justify-content: center;
        margin-top: 3rem;
    }
}
