@import "styles/style.scss";

.container {
    cursor: pointer;

    &:not(:first-of-type) {
        margin-left: 7px;
    }

    svg {
        fill: $icon-color;
        transition: .1s ease;
    
        &:hover {
            fill: $icon-color--hover;
        }
    }
}
