@import "styles/style.scss";

.container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 100%;
    height: $actions-menu-height;

    .content {
        display: flex;
        margin-right: 0.4rem;
    }

    .iconButton {
        &:not(:first-of-type) {
            margin-left: 1rem;
        }
    }
}
