@import "styles/style.scss";

.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(30rem, 1fr);
    row-gap: 2rem;

    .title {
        font-family: $font-family--caption;
        font-size: $font-size--large;
        font-weight: 400;
    }

    .body {
        margin: 1rem 0;
        overflow-y: hidden;
    }

    .warning {
        padding: 2rem 0;
        color: $color-error;
        text-align: center;
    }

    .controls {

    }

    .adminControls {
        display: flex;
        flex-direction: column;

        .adminButtons {
            display: flex;

            :not(:first-child) {
                margin-left: 1rem;
            }
        }

        form {
            margin-top: 2.5rem;

            .rejectionReasonTextarea {
                width: 35rem;
            }
        }
    }

    .stats {
        display: flex;
        justify-content: space-between;
    }
}
