@import "styles/style.scss";

.container {
    display: flex;
    align-items: center;

    .input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        padding: 0.2rem 0.5rem;
        border: none;
        border-bottom: 1px solid $search-post-input-border-color;
        outline: none;
        background-color: $search-post-input-bg-color;
        color: $search-post-input-text-color;
        font-family: $font-family--normal;
        font-size: $font-size--medium;
    }

    @media screen and (max-width: 1024px) {
        & {
            .input {
                height: 5rem;
                border: 1px solid $search-post-input-border-color;
            }
        }
    }
}
