@import "styles/style.scss";

.container {
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: minmax(30rem, 1fr);

    .content {
        color: inherit;
        text-decoration: none;
    }

    .title {
        font-family: $font-family--caption;
        font-size: $font-size--large;
        font-weight: 400;
    }

    .body {
        max-height: 30rem;
        margin: 1rem 0;
        overflow-y: hidden;
    }
}
