@import "styles/style.scss";

.root {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);

    .container {
        position: relative;
        display: flex;
        align-self: center;
        justify-content: center;
        height: fit-content;
        padding: 3rem 0;
        background-color: $base-dialog-bg-color;

        &.autoWidth {
            width: auto;
        }

        &.fixedWidth {
            width: 40rem;
        }

        .closeIconButton {
            position: absolute;
            top: 2.2rem;
            right: 2rem;
        }

        .title {
            position: absolute;
            top: 1.5rem;
            left: 2rem;
            color: $base-dialog-title-text-color;
            font-size: $font-size--larger;
            user-select: none;
        }
    }

    @media screen and (max-width: 500px) {
        .container {
            align-self: auto;
            width: 100% !important;
            height: 100%;
        }
    }
}
