@import "styles/style.scss";

.root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    animation: fade-in 0.1s;

    .container {
        position: relative;
        display: flex;
        box-sizing: border-box;
        justify-content: center;
        padding: 2rem;
        background-color: $base-dialog-bg-color;

        .closeIconButton {
            position: absolute;
            top: 2.2rem;
            right: 2rem;
        }

        .title {
            position: absolute;
            top: 1.5rem;
            left: 2rem;
            color: $base-dialog-title-text-color;
            font-size: $font-size--larger;
            user-select: none;
        }
    }

    @media screen and (max-width: 500px) {
        & {
            .container {
                width: 100%;
                height: 100%;
            }
        }
    }
}
