@import "styles/style.scss";

.container {
    grid-area: navbar;
    display: flex;
    justify-content: flex-end;

    .desktopNavbar {
        width: 17rem;
    }

    .mobileLogo {
        display: none;

        a {
            padding: 0;
            transition: color 50ms ease;
        }
    }

    @media screen and (max-width: 1024px) {
        justify-content: flex-start;

        .mobileLogo {
            display: flex;
            margin-left: 3vw;

            a:hover {
                color: $mobile-logo-text-color--hover !important;
            }
        }

        @media screen and (max-width: 500px) {
            .desktopNavbar {
                display: none;
            }

            .mobileLogo {
                margin-left: 0;
            }
        }
    }
}
