@import "styles/style.scss";

.container {
    grid-area: navbar;
    display: flex;
    justify-content: flex-end;

    .list {
        display: grid;
        grid-template-columns: 1fr;
        width: $menu-width;
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .item {
        display: flex;
        width: 17rem;
        height: 3rem;
        background-color: $menu-item-bg-color;
        transition: background-color width 100ms ease;
        user-select: none;
        white-space: nowrap;

        &.disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        &:hover {
            width: $menu-width;
            background-color: $menu-item-bg-color--hover;
        }

        &:not(:first-of-type) {
            margin-top: 0.3rem;
        }

        &.writePostTab {
            background-color: $menu-item-write-post-bg-color;

            &:hover {
                background-color: $menu-item-write-post-bg-color--hover;
            }
        }
    }

    a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-left: 1.5rem;
        font-size: $font-size--medium;
        color: $menu-item-color;
    }

    @media screen and (max-width: 1024px) {
        & {
            justify-content: flex-start;
            padding-left: 3vw;
        }

        .list {
            display: flex;
            flex-flow: row nowrap;
            width: 100%;
        }

        .item {
            width: fit-content;
            height: auto; // TODO: need?
            background-color: transparent;
            margin-right: 1rem;

            &:hover {
                width: auto;
                background-color: transparent;
            }
            
            &:not(:first-of-type) {
                margin-top: 0;
            }

            &.writePostTab {
                background-color: transparent;
            }
        }

        a {
            padding-left: 0;
            font-size: $font-size--small;
        }
    }
}
