$font-family--caption: "Roboto", "Helvetica", "Arial", sans-serif;
$font-family--editor: "Roboto", "Helvetica", "Arial", sans-serif;
$font-family--logo: "Bree Serif", "Helvetica", "Arial", sans-serif;
$font-family--normal: "Open Sans Condensed", "Helvetica", "Arial", sans-serif;
$font-family--undertone: "Roboto", "Helvetica", "Arial", sans-serif;

$font-size--smallest: 1rem;
$font-size--smaller: 1.2rem;
$font-size--small: 1.6rem;
$font-size--medium: 1.8rem;
$font-size--large: 2rem;
$font-size--larger: 2.2rem;
$font-size--largest: 3.2rem;

$gray--darkest: #141414;
$gray--darken: #636363;
$gray--dark: #818181;
$gray: #bcbcbc;
$gray--light: #e1e1e1;
$gray--lighten: #f3f3f3;
$gray--lightest: #f8f8f8;

$color-primary: #ffd275;
$color-secondary: #87666c;
$color-tertiary: #be6361;
$color-quaternary: #663939;

$color-error: red;

$selection-bg-color: $color-primary;
$text-color--caption: $gray--darkest;
$text-color--editor: $gray--darkest;
$text-color--light: $gray--lightest;
$text-color--normal: $gray--darkest;
$text-color--undertone: $gray--dark;

$scrollbar-thumb-bg-color: $gray;
$scrollbar-track-bg-color: $gray--lightest;

$base-button-bg-color-dark: $color-tertiary;
$base-button-bg-color-dark--hover: #ce746e;
$base-button-bg-color-light: $color-primary;
$base-button-bg-color-light--hover: #ffdc9a;
$base-button-bg-color-neutral: transparent;
$base-button-bg-color-neutral--hover: #ffdc9a;
$base-button-border-color-dark: $color-tertiary;
$base-button-border-color-light: $color-quaternary;
$base-button-border-color-neutral: $gray--light;
$base-button-text-color-dark: white;
$base-button-text-color-light: $color-quaternary;
$base-button-text-color-neutral: $text-color--normal;

$base-dialog-bg-color: white;
$base-dialog-title-text-color: $gray--darken;

$base-dropdown-bg-color: white;
$base-dropdown-border-color: $gray--light;
$base-dropdown-text-color: $text-color--normal;

$custom-link-border-color: $color-tertiary;
$custom-link-border-color--hover: #f5c67f;
$custom-link-text-color: $color-tertiary;
$custom-link-text-color--hover: #f58d7f;

$footer-aside-bg-color: $color-quaternary;
$footer-content-bg-color: $color-secondary;

$header-bg-color: $color-primary;

$icon-color-dark: white;
$icon-color-dark--hover: $gray--lighten;
$icon-color-light: $color-quaternary;
$icon-color-light--hover: $color-tertiary;

$input-bg-color: white;
$input-border-color: $gray--dark;
$input-border-color--error: $color-error;
$input-text-color: $gray--darkest;
$input-text-color--error: $color-error;

$input-label-color: $gray--dark;
$input-label-color--error: $color-error;
$input-label-color--shrink: $gray--darken;

$logo-bg-color: $color-tertiary;
$logo-bg-color--hover: $color-secondary;
$logo-text-color: white;

$menu-item-bg-color: $color-quaternary;
$menu-item-bg-color--hover: $color-tertiary;
$menu-item-bg-color--prominent: $gray--lightest;
$menu-item-border-color: $gray--light;
$menu-item-text-color: $gray--darkest;
$menu-item-text-color--hover: white;

$menu-list-text-color--hover: $gray;
$menu-text-color--hover: $gray;

$mobile-actions-menu-bg-color--hover: $color-tertiary;
$mobile-logo-bg-color: white;
$mobile-logo-text-color: $gray--darken;
$mobile-logo-text-color--hover: white;
$mobile-menu-item-text-color: white;

$mobile-menu-item-border-color: $gray--light;
$mobile-menu-item-text-color: white;

$paging-active-item-bg-color: $color-primary;
$paging-active-item-text-color: white;

$paging-item-bg-color: white;
$paging-item-bg-color--hover: $color-tertiary;
$paging-item-border-color: $gray--light;
$paging-item-text-color: white;
$paging-step-text-color--hover: $gray--dark;

$popup-bg-color--error: #ef8686;
$popup-text-color--error: white;
$popup-bg-color--success: #88d99f;
$popup-text-color--success: white;
$popup-bg-color--warning: gold;
$popup-text-color--warning: white;

$post-preview-rejected-bg-color: white;
$post-preview-rejected-text-color: $popup-bg-color--error;

$profile-tab-color: $gray;
$profile-tab-color--active: $gray--darken;
$profile-tab-border-color: $gray--light;
$profile-tab-border-color--active: $gray--darken;

$reset-search-post-button-bg-color: white;
$reset-search-post-button-bg-color--hover: $gray--lightest;
$reset-search-post-button-border-color: $gray--light;
$reset-search-post-button-text-color: $text-color--undertone;

$search-post-input-bg-color: white;
$search-post-input-border-color: $gray--light;
$search-post-input-text-color: $gray--dark;

$tooltip-bg-color: white;
$tooltip-border-color: $gray--light;
$tooltip-text-color: $text-color--normal;

$actions-menu-height: 5rem;
$footer-height: 12rem;
$header-height: 4rem;
$menu-width: 17rem;
$menu-height--small: 4rem;
$popup-width: 30rem;
$popup-height: 6rem;

$rating-text-color--def: $gray--darken;
$rating-text-color--neg: red;
$rating-text-color--pos: green;

// Used color palette: https://coolors.co/663939-87666c-ffd275-fcb982-be6361
