$font-family--normal: "Open Sans Condensed", sans-serif;

$font-size--smallest: 1rem;
$font-size--smaller: 1.2rem;
$font-size--small: 1.6rem;
$font-size--medium: 1.8rem;
$font-size--large: 2rem;
$font-size--larger: 2.2rem;
$font-size--largest: 3.6rem;

$gray--darkest: #141414;
$gray--darken: #6c6c6c;
$gray--dark: #9d9d9d;
$gray: #bcbcbc;
$gray--light: #e1e1e1;
$gray--lighten: #efeeea;
$gray--lightest: #fcfafa;

$footer-height: 200px;
$logo-width: 120px;
$main-width: 800px;
