@import "styles/style.scss";

.container {
    display: flex;
    padding: 0;

    .forms {
        display: grid;
        grid-template-areas:
            "profile-data-form profile-picture-form"
            "profile-password-form .";
        column-gap: 7rem;
    }

    .formContainer {
        min-width: 28rem;

        &:not(:first-of-type) {
            margin-top: 3rem;
        }
    }

    .profileDataForm {
        grid-area: profile-data-form;
    }

    .profilePictureForm {
        grid-area: profile-picture-form;
    }

    .profilePasswordForm {
        grid-area: profile-password-form;
    }

    @media screen and (max-width: 500px) {
        .forms {
            grid-template-areas:
                "profile-picture-form"
                "profile-data-form"
                "profile-password-form";
        }
    }
}
