@import "styles/style.scss";

.container {
    position: relative;
    display: flex;

    .pictureContainer {
        user-select: none;
        transition: opacity 100ms ease;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }

    .deleteButton {
        position: absolute;
        z-index: 1;
        right: -2rem;
        transition: opacity 100ms ease;

        &:hover {
            opacity: 0.6;
        }
    }
}

.hidden {
    display: none;
}
